{% extends 'common/main.html'%}
{% load static %}
{% block title %}{{product.name}} | Delicious Rolls{% endblock %}
{% block content %}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12 ftco-animate " >
                <div  class="home-slider owl-carousel img ">
                    <div class="slider-item">
                        <img src="/media/{{product.image1}}" class="img-fluid  border-dark shadow" alt="" style="border-radius: .6rem;border: 2px solid;size: 50%">
                    </div>
                    {% if product.image2 %}
                    <div class="slider-item">
                        <img src="/media/{{product.image2}}" class="img-fluid  border-dark shadow" alt="" style="border-radius: .6rem;border: 2px solid;">
                    </div>
                    {% endif %}
                    {% if product.image2 %}
                    <div class="slider-item">
                        <img src="/media/{{product.image3}}" class="img-fluid  border-dark shadow" alt="" style="border-radius: .6rem;border: 2px solid;">
                    </div>
                    {% endif %}
                    {% if product.image2 %}
                    <div class="slider-item">
                        <img src="/media/{{product.image4}}" class="img-fluid  border-dark shadow" alt="" style="border-radius: .6rem;border: 2px solid;">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 ml-2 col-sm-12 ftco-animate align-self-center">
                <span class="subheading">Delicious</span>
                <h1 class="mb-4"><span style="color: #fff;font-size: 2.5rem;"><strong>{{product.name}}</strong></span></h1>
                <p class="mb-4 mb-md-5">{{product.description}}</p>
                <h2 class="mb-4 mb-md-5">{% if not product.disc_total == 0.0 %}<span style="font-size: 1rem;"><del>₹{{product.disc_total}}</del></span>{% endif %}  <span style="color: #fff;font-size: 2.2rem;"><strong>₹{{product.total}}</strong></span></h2>
                <p class="mb-4 mb-md-5">{{product.category}} | {{product.subCategory}}</p>
                <p class="mb-4 mb-md-5">{{product.quantity}} left</p>
                <form action="/add-wishlist/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{product.id}}">
                    <button type="submit" class="card-link-secondary small text-uppercase mb-0 mr-3" name="wishlist_add"><i class="icon-heart" aria-hidden="true"></i> Add to wishlist</p></button>
                </form>
                <form action="/add-cart/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{product.id}}">
                    <div class="row" style="margin: 0;">
                        <input type="number" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3" name="quantity" min="1" max="{{product.quantity}}" placeholder="Quantity" required="" style="width: 8rem;">
                        <input type="submit" class="btn btn-primary p-3 px-xl-4 py-xl-3" name="add-cart" value="Add to Cart">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% if related_product.count > 0 %}
<section class="ftco-section" style="padding-top: 4em;">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">You May Also Like</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            {% for x in related_product %}
            <div class="col-md-3 text-center ftco-animate mb-3">
                <div class="menu-wrap">
                    <a target="_blank" href="/product/{{x.slug}}" class="menu-img img mb-4 shadow" style="background-image: url(/media/{{x.image1}});border-radius: 2%;"></a>
                    <div class="text">
                        <h3><a target="_blank" href="/product/{{x.slug}}">{{x.name}}</a></h3>
                        <p>{{x.description}}</p>
                        <p class="price"><span>₹{{x.total}}</span></p>
                        <form action="/add-cart/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="product" value="{{x.id}}">
                            <div class="row justify-content-center" style="margin: 0;">
                                
                                    <p><input type="number" class="btn btn-primary input1"name="quantity" min="1" max="{{x.quantity}}" placeholder="Quantity" required="" style="width: 6.2rem;"></p>
                               
                                    <p><button class="btn btn-white btn-outline-white input1" name="add-cart">Add to Cart</button></p>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<style>
    button{background-color: transparent;border: 0;color: #F9C464;cursor: pointer;}
    button:hover{color: #c19646;}
    button:focus{outline: none;}
    input::placeholder{color: #fff;}
    input:hover::placeholder{color: #000;}
    input:focus::placeholder{color: #000;}
    .input1::placeholder{color: #000;}
    .input1:hover::placeholder{color: #F9C464;}
    input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}
    .owl-carousel.home-slider{height: 520px;}
    .cart_quantity::placeholder{color: white;}
    .mb-md-5, .my-md-5{margin-bottom: 1.5rem !important;}
    h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5, p {
    line-height: normal;
    font-weight: 400;}
    .owl-carousel.home-slider {
    height: 387px;}
    .owl-dots{display: none;}
</style>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(".home").removeClass('active');
    $(".dish").addClass('active');
</script>
{% endblock %}